main{
    height: 100vh;
}
form{
display: flex;
margin: auto;
flex-direction: column;
max-width: 450px;
}

form label{
    line-height: 50px;
    letter-spacing: 0.5px;
}

form input{
    padding: 10px 10px;
    outline: none;
    border: solid 1px blueviolet;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

form textarea{
font-size: 14px;
letter-spacing: 0.5px;
line-height: 24px;
    outline: none;
    resize: none;
    border: solid 1px blueviolet;
    border-radius: 5px;}


    form button{
        background-color: blueviolet;
        padding: .5rem 2rem;
        border-radius: .25rem;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-bottom: 1rem;
        font-size: 16px;
        line-height: 1.75rem;

    }